<launch>
  <!-- Load the URDF model into the parameter server -->
  <param name="robot_description" textfile="$(find my_rb1_description)/urdf/my_rb1_robot.urdf" />

  <!-- Start the robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Start the joint state publisher with GUI -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Start RViz with our configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_rb1_description)/rviz/urdf_config.rviz" required="true">
    <!-- Force RViz to use our config -->
    <param name="default_fixed_frame" value="base_footprint"/>
  </node>
</launch>